---
import { PageHeader } from "@/components/PageHeader";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { Alert, AlertDescription, AlertTitle } from "@/components/ui/alert";
import { Icons } from "@/components/icons";
import { FishingSpots } from "@/components/FishingSpots";
---

<DefaultLayout
  title="Bobdylan's RPG MO Fishing App"
  desc="An app to help players find the optimal fishing spots in RPG MO."
  keys="rpgmo,fishing"
>
  <div class="w-full px-4">
    <PageHeader>Bobdylan's RPG MO Fishing Locations</PageHeader>
    <Alert variant="warning">
      <Icons.exclamationTriangle className="h-4 w-4 " />
      <AlertTitle>NOTICE</AlertTitle>
      <AlertDescription>
        The data on this page needs to be updated, particularly for Lost Woods!
      </AlertDescription>
    </Alert>
    <p class="my-4">
      <span class="text-green-600 dark:text-green-500"
        >Optimal Spots are marked with an *</span
      >
      (not including spots in the Illusion Guild.)
    </p>
    <p class="my-4">
      <em>
        Credit to coolebeans for his great work on the
        <a href="http://rpg-mo.wikia.com/wiki/Fishing_New" target="_blank"
          >New Fishing Page on the Wiki</a
        >
        !
      </em>
    </p>

    <FishingSpots client:load />
  </div>
</DefaultLayout>
