@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
/* Original Purple (too dark)
@layer base {
  :root {
    --background: 283 36% 98%;
    --foreground: 283 68% 2%;
    --muted: 283 13% 92%;
    --muted-foreground: 283 4% 37%;
    --popover: 283 36% 98%;
    --popover-foreground: 283 68% 2%;
    --card: 283 36% 97%;
    --card-foreground: 283 68% 1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 283 93% 25%;
    --primary-foreground: 283 93% 85%;
    --secondary: 283 7% 90%;
    --secondary-foreground: 283 7% 30%;
    --accent: 283 15% 81%;
    --accent-foreground: 283 15% 21%;
    --destructive: 4 84% 36%;
    --destructive-foreground: 4 84% 96%;
    --ring: 283 93% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 283 47% 2%;
    --foreground: 283 27% 98%;
    --muted: 283 13% 8%;
    --muted-foreground: 283 4% 63%;
    --popover: 283 47% 2%;
    --popover-foreground: 283 27% 98%;
    --card: 283 47% 3%;
    --card-foreground: 283 27% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 283 93% 25%;
    --primary-foreground: 283 93% 85%;
    --secondary: 283 18% 12%;
    --secondary-foreground: 283 18% 72%;
    --accent: 283 25% 17%;
    --accent-foreground: 283 25% 77%;
    --destructive: 4 84% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 283 93% 25%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
  a {
    @apply text-primary dark:text-purple-500 hover:underline;
  
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}